.header {
  position: relative;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
  z-index: 12;
}
.main-content {
  background: #f1f3f4;
  padding-top: 30px;
}
.search-form {
  position: relative;
  margin-bottom: 24px;
  padding: 16px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  z-index: 101;
}
.search-form p,
.search-form h6,
.search-form span {
  color: #c3c3c3;
}
.search-form .title a {
  color: #16affd;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-it {
  display: flex;
}
.date-input {
  border: none;
  width: 60%;
  margin: 8px 0;
  border-right: 1px solid gray;
  padding: 10px 10px 10px 10px;
  height: 40px;
  border: 1px solid #fff;
  border-right-color: #e8e8e8;
  border-radius: 3px 0 0 3px;
  font-size: 16px;
  line-height: 20px;
  outline: 0;
  cursor: pointer;
}

.time-input {
  border: none;
  width: 40%;
  margin: 8px 0;
  height: 40px;
  border: 1px solid #fff;
  font-size: 16px;
  line-height: 20px;
  outline: 0;
  cursor: pointer;
}
.driver-info {
  line-height: 16px;
  font-size: 15px;
  margin-top: 10px;
}
.search-btn {
  padding: 9px;
  width: 100%;
  background-color: #16affd;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
}

.search-btn:hover {
  text-decoration: none;
}
.filter-list {
  /* display: flex; */
  align-items: center;
}
.filter-list label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-list .label-text {
  flex: 1;
  font-size: 14px;
}
.filter-list label span:nth-child(2) {
  font-size: 14px;
}

.filter-head {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.filter-head h4 {
  flex: 1;
}
/* Checkbox */

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label::before {
  content: "\2713";
  border: 0.1em solid #000;
  border-radius: 2px;
  display: inline-block;
  width: 17px;
  height: 17px;
  padding: 0px 2px;
  margin-right: 10px;
  /* vertical-align: text-top; */
  color: transparent;
  transition: 0.2s;
  line-height: 17px;
}

input[type="checkbox"]:checked + label::before {
  background-color: transparent;
  border-color: #000;
  color: #16affd;
  line-height: 17px;
  font-size: 12px;
  font-weight: 800;
}
input[type="checkbox"]:checked + label {
  /* color: #93c144; */
}
/* Checkbox ends */

.product-card {
  margin-bottom: 10px;
  padding: 16px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
}

.product-image {
  width: 30%;
}

.product-card-upper {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
}

.product-class {
  line-height: 14px;
  color: #9c9c9c;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-name {
  color: #757575;
  line-height: 28px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-name span {
  font-size: 19px;
}

.product-properties {
  display: flex;
  margin-bottom: 20px;
}

.product-property {
  position: relative;

  margin: 0 16px 5px 0;

  color: #757575;

  font-size: 13px;
  line-height: 16px;

  word-wrap: break-word;
  vertical-align: top;
}

.product-award {
  color: #fff;
  padding-left: 24px;
  background: #16affd;
  position: relative;
  padding: 4px 10px;
  margin-bottom: 4px;
  width: auto;
  display: inline-block;
  line-height: 16px;
  font-size: 12px;
  font-weight: 700;
}

.product-award div {
  padding-left: 16px;
}

.product-award::before {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 16px;
  height: 16px;
  content: "";
  display: block;
  background: url(/images/tick.svg) no-repeat 0 -16px;
  background-size: 16px 48px;
}

.product-award-2 {
  position: relative;
  padding: 4px 10px;
  margin-bottom: 4px;
  width: auto;
  display: inline-block;
  line-height: 16px;
  font-size: 12px;
  font-weight: 700;
  color: #0a578c;
  background: #ecf8ff;
}

.product-card-middle {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #ccc;
}

.product-specs-1 {
  flex: 0.7;
  margin-right: 10px;
}

.product-specs-2 {
  flex: 1;
  margin-right: 10px;
}

.product-specs-1 .product-spec {
  display: flex;
  align-items: center;
}

.product-specs-1 .product-spec i {
  font-size: 24px;
  padding: 10px;
  /* margin-right: 10px; */
  width: 50px;
}
.product-specs-1 .product-spec-title {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
}

.product-specs-1 .product-spec-desc {
  margin-top: 4px;
  font-size: 16px;
  line-height: 20px;
}

.product-specs-2 .product-spec {
  display: flex;
  padding: 3px 5px 3px 22px;
  align-items: center;
}

.product-specs-2 .product-spec .fa-check {
  color: #16affd;
  margin-right: 5px;
  font-size: 12px;
}

.product-specs-2 .product-spec-title {
  position: relative;

  display: block;
  font-size: 13px;
  line-height: 15px;
}

.product-specs-2 .product-spec-title::before {
  /* position: absolute;
  top: 5px;
  left: 2px;
  margin-left: 0;
  opacity: 1;
  visibility: visible;
  width: 12px;
  height: 12px;
  content: "";
  display: block;
  background: transparent url(/images/checked-v2.svg) no-repeat 0 -36px;
  background-size: 12px 72px; */
}

.product-specs-2 .more-less {
  position: relative;
  padding: 3px 5px 3px 22px;
  display: block;
  font-size: 13px;
  line-height: 15px;
  color: #00a1ff;
}

.product-extra-info {
  flex: 1;
}

.product-extra-info .info-1 {
  position: relative;
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  color: #00a200;
  line-height: 16px;
  background-color: #ecf8ff;
  border-color: #ecf8ff;
  color: #00a1ff;
}

.product-extra-info .info-2 {
  position: relative;
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  color: #00a200;
  line-height: 16px;
  background: #e2ffd0;
  border-color: #e2ffd0;
}

.product-extra-info .info-2 .fa-check {
  /* font-size: 16px; */
}

.product-card-lower {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.product-supplier-rating {
}

.product-supplier-rating .supplier-text {
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}

.product-supplier-rating .rating-text-1 {
  font-size: 13px;
  color: #9c9c9c;
  margin-bottom: 2px;
}

.product-supplier-rating .rating-text-1 b {
  font-size: 16px;
  color: #333;
}

.product-supplier-rating .rating-box {
  display: flex;
}

.product-supplier-rating .rating-text {
  margin-left: 10px;
}

.product-supplier-rating .rating-text-2 {
  color: #00a1ff;
  line-height: 15px;
  font-size: 13px;
  transition: color 0.2s;
}

.product-price-section-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-section-upper .product-price-upper-text {
  font-size: 13px;
  line-height: 15px;
  color: #9c9c9c;
}

.product-price-section-upper .product-price-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-price-section-upper .product-price {
  margin-right: 10px;
}

.product-price-section-upper .product-view-button-section {
  margin-right: 10px;
}
.product-price-section-upper .product-view-button {
  display: inline-block;
  padding: 10px 16px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 14%);
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  width: 172px;
  background-color: #16affd;
  height: 44px;
  line-height: 23px;
  box-sizing: border-box;
  border: none;
  position: relative;
  padding-left: 32px;
  padding-right: 16px;

  text-decoration: none;

  padding: 10px 30px;

  font-weight: 400;
  font-style: 16px;
}

.product-bottom-text {
  color: #00a200;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: -8px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}

.product-message-section .product-message-button {
  width: 32px;
  height: 32px;
  display: block;
  background: #d8d8d8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-message-section .product-message-button i {
  /* font-size: 32px; */
  /* color: #d8d8d8; */
}

.rotate-it {
  transform: rotate(180deg);
}
.icon {
  font-size: 20px;
  margin-right: 14px;
  color: #0a578c;
  transition: 0.5s all;
}
.filter-heading {
  display: flex;
  align-items: center;
}
.filter-heading h4 {
  color: #0a578c;
  font-size: 19px;
}

.filter-head span {
  color: #0a578c;
}

.filter-product-card {
  position: relative;
  width: 90%;
  padding: 8px;
  margin-left: 6px;
  margin-bottom: 0px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 3px;
  text-align: center;
  display: block;
  cursor: pointer;
  float: left;
  height: 100%;
  border-bottom: 4px solid #9c9c9c;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px !important;
}

.filter-product-card .car-type {
  margin-top: 2px;
  color: #757575;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 10px;
}
.filter-product-card .car-details {
  display: flex;
  justify-content: center;
}

.filter-product-card .car-details-text {
  position: relative;

  margin: 0 5px 5px 0;

  color: #757575;

  font-size: 13px;
  line-height: 16px;

  word-wrap: break-word;
  vertical-align: top;
  margin-right: 10px;
}

.filter-product-card .car-details-text i {
  margin-right: 5px;
}

.filter-product-card .car-image {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 60px;
  align-self: center;
}

.filter-product-card .car-image::before {
  content: "";
  display: block;
  width: 120px;
  height: 60px;
  background: url(/images/car-groups-v2.svg) no-repeat 0 0;
  background-size: 960px 60px;
  background-position: -120px 0;
}

.filter-product-card .car-price {
  padding: 0 4px;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}

.filter-product-card .car-close {
  position: absolute;
  top: 0;
  right: 0;
  /* display: none; */
  display: block;
  width: 26px;
  height: 26px;
  color: #0a578c;
}
.filter-card-section {
  /* display: flex; */
  overflow: hidden;
  /* position: relative; */
  margin-bottom: 10px;
}
.filter-product-card:nth-child(1) {
  margin-left: 0 !important;
}
.filter-card-section div {
  display: flex;
}
.filter-product-card div {
  display: block;
}

/* Slider arrows */
button.slick-arrow {
  border-radius: 50%;
  padding: 7px 15px;
  color: #fff;
  background: #16affd;
  border-color: #fff;
  box-shadow: none;
}

button.slick-prev.slick-arrow {
  top: 60px;
  position: absolute;
  left: -6px;
  z-index: 999999;
  outline: none;
}
button.slick-next.slick-arrow {
  top: 60px;
  position: absolute;
  right: 10px;
  z-index: 999999;
  outline: none;
}

/* Search bar  */
.search-bar-form h4 {
  margin-bottom: 1px;
  font-size: 18px;
  /* color: white; */
  font-weight: bold;
  margin-bottom: 10px;
  color: #16affd;
  margin-top: 10px;
}
.search-bar-select {
  width: 100%;
  cursor: pointer;
  border-right-width: 0;
  height: 48px;
  padding: 10px;
  line-height: 18px !important;
  border-color: #ccc;
  -moz-appearance: none;
  -webkit-appearance: none;
  apperance: none;
}
.search-bar-form .row .col-md-3,
.search-bar-form .row .col-md-12 {
  padding-right: 0;
  padding-left: 0;
}
.first-select {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.last-select {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-right-width: 1px;
}
.search-bar-btn-div {
  margin-top: 30px;
}
.search-bar-btn {
  padding: 10px 70px;
  font-size: 18px;
  transition: 0.2s;

  color: #fff;
  background-color: #16affd;
  border-color: #16affd;

  outline: 0;
  -webkit-appearance: none;
  line-height: 18px !important;
}
a.search-bar-btn i {
  margin-left: 12px;
}

/* Responsive */
@media only screen and (max-width: 1199px) {
  .product-image {
    width: 40%;
  }
}
@media only screen and (max-width: 991px) {
  .product-image {
    width: 100%;
  }
  .product-card-upper {
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 776px) {
  .search-bar-select {
    border-right-width: 1px;
    border-radius: 5px;
  }
  .product-card-middle {
    flex-direction: column;
  }
  .product-card-lower {
    flex-direction: column-reverse;
  }

  .product-specs-1 {
    margin-bottom: 20px;
  }
  .product-specs-2 {
    margin-bottom: 20px;
  }
  .product-extra-info {
    display: flex;
  }

  .product-extra-info .info-1 {
    margin-right: 10px;
  }

  .product-supplier-rating {
    /* margin-bottom: 20px; */
    align-self: flex-end;
  }

  .product-price-section {
    display: flex;
  }

  .product-price-section-upper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex: 1;
    justify-content: center;
  }

  .product-bottom-text {
    display: none;
  }

  .product-view-button-section {
    flex: 1;
  }
  .product-price-section-upper .product-view-button {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .search-bar-form {
    margin-left: 5%;
    margin-right: 5%;
  }
  .search-bar-btn {
    padding: 10px 20px;
  }
}
